body, html, canvas {
  margin: 0;
}

#game {
  margin: 20px auto;
  width: 540px;
}

.board {
  margin: 20px auto 0;
  width: 540px;
  height: 540px;
} 

.square {
  border: 4px solid black;
  width: 166px;
  height: 166px; 
  border-radius: 10px;
  margin: 1px;
  display: inline-block;
}

button.red {
  color: white;
  background: red;
}

button.green {
  color: white;
  background: green;
}


#lobby {
  margin: 40px auto;
  width: 600px;
}


.square.fish {
  background-color: orange;
}

.square.missile {
  background-color: blue;
}

.square.missile.fish {
  background-color: orange;
  border-color: blue;
}

.square.hit {
  background-color: red;
}